# removing vs code rubbish
.vscode/*

# removing sensitive key info
settings.yaml


#python cache files
__pycache__/*

# Little things that the automl process creates. 
notebooks/*.log
notebooks/.azureml/*



# Azure ML log is tough to get rid of. 
#automl.log

